<div class="button_list_div">
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
<i class="iconfont">&#xe641;</i> 添加节点
</button>
<button type="button" class="btn btn-default ajax-post confirm" url="{:U('del')}" target-form="ids"><i class="iconfont">&#xe600;</i> 删除</button>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" onclick="CloseModal(this)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">添加节点<em style="color: red;font-size: 12px;">（注：非开发人员请勿操作）</em></h4>
      </div>
      <div class="modal-body">

  <form role="form" id="add_auth_menu" action="{:U('index')}" method="post" class="form-authrule">
  <input type="hidden" name="id" id="menuid">
  <div class="form-group">
    <label for="exampleInputPassword1">标题<em>（用于后台显示的配置标题）</em></label>
    <input type="text" name="title" id="title" class="form-control" id="exampleInputPassword1" >
  </div>
  <div class="form-group">
    <label for="exampleInputFile">链接<em>（U函数解析的URL或者外链）</em></label>
    <input type="text" name="url" id="url" class="form-control" id="exampleInputFile" >
  </div>
  <div class="form-group">
    <label for="caidan">上级菜单<em>（所属的上级菜单）</em></label>
          <select name="pid" id="pid" class="form-control">
          <volist name="Menus" id="menu">
              <option value="{$menu.id}">{$menu.title_show}</option>
          </volist>
          </select>
  </div>
  <div class="form-group">
    <label for="fenzu">分组<em>（用于左侧分组二级菜单）</em></label>
    <input type="text" name="group" id="group" class="form-control" id="fenzu">
  </div>
  <div class="form-group">
    <label for="yinchang">是否隐藏</label>
    <div class="checkbox">
    <label class="radio-inline">
  <input type="radio" name="status" value="0"> 是
</label>
<label class="radio-inline">
  <input type="radio" name="status" value="1" checked="checked"> 否
</label></div>
  </div>
  <div class="form-group">
    <label for="icon">图标<em>（标题左侧图标）</em></label>
    <div class="input-group">
    <div class="input-group-addon"><a href="#">图标</a></div><input type="text" id="icon" name="icon" class="form-control" id="icon">
    </div>
  </div>
    <div class="form-group">
    <label for="content">说明<em>（菜单详细说明）</em></label>
    <input type="text" name="content" class="form-control" id="content">
  </div>
    <div class="form-group">
    <label for="sort">排序<em>（用于分组显示的顺序）</em></label>
    <input type="text" name="sort" class="form-control" id="sort" value="0">
  </div>
</form>
   
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="CloseModal(this)"><i class="iconfont">&#xe619;</i> 关 闭 </button>
        <button type="submit" class="btn btn-danger ajax-post" id="submit" target-form="form-authrule"><i class="iconfont">&#xe60a;</i> 保 存 </button>
      </div>
    </div>
  </div>
</div>



<table class="table table-striped">
<thead>
<tr>
  <th class="row-selected"><input class="checkbox check-all" type="checkbox"></th>
  <th>ID</th>
  <th>图标</th>
  <th>名称</th>
  <th>上级菜单</th>
  <th>分组</th>
  <th>URL</th>
  <th>排序</th>
  <th>说明</th>
  <th>隐藏</th>
  <th>操作</th>
</tr>
</thead>
<tbody>
<volist name="list" id="val">
<tr>
  <td><input class="ids row-selected" name="id[]" value="{$val.id}" type="checkbox"></td>
  <td>{$val.id}</td>
  <td><if condition="$val['icon'] NEQ ''"><i class="iconfont">{$val.icon}</i></if></td>
  <td><a href="{:U('',array('pid'=>$val['id']))}">{$val.title}</a></td>
  <td>{$val.pid}</td>
  <td>{$val.group}</td>
  <td>{$val.url}</td>
  <td>{$val.sort}</td>
  <td>{$val.content}</td>
  <td>{$val.status}</td>
  <td> 
    <a title="编辑" href="javascript:get_Menu_detail({$val.id});">编辑</a>
    <a class="confirm ajax-get" title="删除" href="{:U('del?id='.$val['id'])}">删除</a></td>
</tr>
</volist>
</tbody>
</table>

<script type="text/javascript">
    $(function(){
      CloseModal();
    });

function get_Menu_detail(id){
  $.get('{:U("AuthRule/edit")}',{id:id},function(data){
    if(data){
      $("#menuid").val(data.id);
      $("#title").val(data.title);
      $("#url").val(data.url);
      $("#pid").find("option[value='"+data.pid+"']").attr("selected",true);
      $("#group").val(data.group);
      $("input[type=radio][name=status][value="+data.status+"]").attr("checked",'checked')
      $("#icon").val(data.icon);
      $("#content").val(data.content);
      $("#sort").val(data.sort);
      $('#myModal').modal('show');
    }
  });
}

function CloseModal(){
  $("#menuid").val('');
  document.getElementById("add_auth_menu").reset();
  $('#myModal').modal('hide');
}

</script>
